@charset "UTF-8";
/* CSS Document */

body {margin:0px;padding:0px;font-family:Arial, Helvetica, sans-serif;font-size:12px;background-color:#474840;}
h2 {margin:6px 0px;padding:18px 0px 0px 0px;font-size:20px;font-weight:normal;color:#7aab04;}
h3 {display:block;float:left;margin:0px;padding:0px;font-size:18px;}
img {border:0px;}
form {margin:0px;padding:0px;}
p {clear:both;margin:6px 0px;padding:0px;}
a {color:#6699cc;text-decoration:none;}
a:hover {text-decoration:underline;}

.header {margin:0px auto;padding:28px 0px 12px 0px;height:40px;width:904px;}
.email {float:left;border: none;margin:0px;padding:2px 10px 2px 10px;font-size:12px;width:120px;color:#999;border:1px solid #474840;border-radius:10px 0px 0px 10px;-webkit-border-radius:10px 0px 0px 10px;-moz-border-radius:10px 0px 0px 10px;}
.pass {float:left;border: none;margin:0px;padding:2px 10px 2px 6px;font-size:12px;width:120px;color:#999;border:1px solid #474840;}
.submit {float:left;margin:0px;padding:0px;border:1px solid #474840;}
.logo {display:block;float:left;margin:0px;padding:3px 0px 4px 0px;height:33px;width:193px;}
.signin {float:right;margin:16px 0px 0px 0px;padding:0px 0px 0px 176px;height:24px;width:350px;background:url(/images/alreadyhave.png) no-repeat left;}
.waitList {border:none;margin:12px auto;padding:6px 10px;font-size:16px;width:320px;color:#999;border:1px solid #474840;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;}
.betaTesters {clear:both;margin:0px auto;padding:0px;width:500px;text-align:left;font-size:15px;}

.body {clear:both;margin:0px auto;width:100%;background-color:#dbddcf;text-align:center;}
.main {margin:0px auto;padding:0px;width:904px;background-image:url(/images/bg_grid.png);}
.top {margin:0px;padding:0px 0px 40px 0px;background:url(/images/free30daytrial.png) no-repeat;}
.nav {float:right;display:block;margin:0px;padding:12px;width:390px;height:30px;list-style:none;}
.nav li {display:block;float:left;margin:0px;padding:4px 30px 4px 0px;font-size:15px;}
.nav li.minilogo {padding:4px 8px 4px 0px;}
.nav li a {text-decoration:none;color:#474840;}
.nav li a:hover {text-decoration:underline;}
.title {clear:both;display:block;margin:0px auto;padding:0px;width:700px;height:36px;}
.left {float:left;margin:0px;padding:10px 0px 12px 20px;width:345px;}
.intro {margin:0px;padding:0px 0px 20px 30px;width:305px;text-align:left;font-size:15px;line-height:19px;color:#474840;}
.mascot {margin:0px;padding:0px;width:345px;}
.cta {display:block;margin:0px;padding: 0px 0px 0px 100px;}
.note {margin:0px;padding:40px 0px 0px 100px;color:#86877f;font-size:11px;}
.note2 {margin:0px;padding:0px 0px 0px 100px;color:#444;font-size:11px;}
.flashdemo {float:left;margin:0px 12px 12px 20px;padding:0px;height:360px;width:500px;}

.footer {clear:both;margin:10px auto;width:904px;color:#b6b8aa;}
.footerLeft {float:left;margin:0px auto;padding:0px;text-align:right;width:140px;height:14px;font-weight:normal;}
.footerCenter {float:left;margin:0px auto;padding:0px 0px 0px 220px;text-align:right;width:200px;height:14px;font-weight:normal;}
.footerRight {float:right;margin:0px auto;padding:0px;text-align:right;width:140px;height:14px;font-weight:normal;}
.footer a {color:#b6b8aa;text-decoration:underline;}
.footer a:hover {text-decoration:none;}

.pricing {clear:both;margin:20px auto;padding:0px;border:0px;}
.pricing td, .pricing th {margin:0px;padding:4px 8px;height:24px;width:120px;border-top:1px solid #ccc;border-right:1px solid #ccc;text-align:center;background-color:#fff;}
.pricing .top {border-top:1px solid #444;background-image:none;}
.pricing .bottom {border-bottom:1px solid #444;background-image:none;}
.pricing .last {border-right:1px solid #444;background-image:none;}
.pricing th {border-top:none;}
.pricing td.feat {padding:0px;text-align:left;font-size:13px;width:250px;border-left:1px solid #444;border-right:1px solid #ccc;}
.pricing td.featFirst {padding:0px;text-align:left;font-size:13px;border-top:1px solid #444;border-left:1px solid #444;border-right:1px solid #ccc;border-radius:20px 0px 0px 0px;-webkit-border-radius:20px 0px 0px 0px;-moz-border-radius:20px 0px 0px 0px;}
.pricing td.featLast {padding:0px;text-align:left;font-size:13px;border-bottom:1px solid #444;border-left:1px solid #444;border-right:1px solid #ccc;border-radius:0px 0px 0px 20px;-webkit-border-radius:0px 0px 0px 20px;-moz-border-radius:0px 0px 0px 20px;}
.pricing th.feat {padding-left:30px;text-align:left;font-size:13px;border-left:none;}
.pricing th.features {text-align:left;height:auto;padding:20px 0px 6px 20px;font-weight:normal;border:none;background:none;}
.pricing td.features2 {text-align:left;height:auto;font-weight:normal;border:none;background:none;}
.pricing td.empty, .pricing th.empty {border:none;background:none;}
.pricing th.highlight1 {background-color:#d3de9f;font-size:16px;font-weight:normal;border:none;border-radius:20px 20px 0px 0px;-webkit-border-radius:20px 20px 0px 0px;-moz-border-radius:20px 20px 0px 0px;}
.pricing th.highlight2 {background-color:#eceed9;font-size:16px;font-weight:normal;border:none;border-radius:20px 20px 0px 0px;-webkit-border-radius:20px 20px 0px 0px;-moz-border-radius:20px 20px 0px 0px;}
.pricing th.highlight3 {background-color:#f8f7bf;font-size:16px;font-weight:normal;border:none;border-radius:20px 20px 0px 0px;-webkit-border-radius:20px 20px 0px 0px;-moz-border-radius:20px 20px 0px 0px;}
.pricing td.highlight1 {padding:10px 4px;background-color:#d3de9f;border-top:none;border-left:none;border-right:none;border-radius:0px 0px 20px 20px;-webkit-border-radius:0px 0px 20px 20px;-moz-border-radius:0px 0px 20px 20px}
.pricing td.highlight2 {padding:10px 4px;background-color:#eceed9;border-top:none;border-left:none;border-right:none;border-radius:0px 0px 20px 20px;-webkit-border-radius:0px 0px 20px 20px;-moz-border-radius:0px 0px 20px 20px}
.pricing td.highlight3 {padding:10px 4px;background-color:#f8f7bf;border-top:none;border-left:none;border-right:none;border-radius:0px 0px 20px 20px;-webkit-border-radius:0px 0px 20px 20px;-moz-border-radius:0px 0px 20px 20px}
.pricing a {color:#336699;}

.pricing .feat a:link, .pricing .feat a:visited {display:block;margin:0px;padding:8px 0px 8px 20px;color:#336699;text-align:left;font-weight:normal;}
.pricing .feat a:hover {background-color:#f3f3f3;}

.pricing .featFirst a:link, .pricing .featFirst a:visited {display:block;margin:0px;padding:8px 0px 8px 20px;color:#336699;text-align:left;font-weight:normal;border-radius:20px 0px 0px 0px;-webkit-border-radius:20px 0px 0px 0px;-moz-border-radius:20px 0px 0px 0px;}
.pricing .featFirst a:hover {background-color:#f3f3f3;}

.pricing .featLast a:link, .pricing .featLast a:visited {display:block;margin:0px;padding:8px 0px 8px 20px;color:#336699;text-align:left;font-weight:normal;border-radius:0px 0px 0px 20px;-webkit-border-radius:0px 0px 0px 20px;-moz-border-radius:0px 0px 0px 20px;}
.pricing .featLast a:hover {background-color:#f3f3f3;}

