body {margin:0px;padding:0px;font-family:Arial, Helvetica, sans-serif;font-size:12px;background-color:#474840;}
h2 {text-align:center;margin:6px 0px;padding:18px 0px 0px 0px;font-size:20px;font-weight:normal;}
h3 {display:block;float:left;margin:0px;padding:0px;font-size:18px;}
img {border:0px;}
form {margin:0px;padding:0px;}
p {clear:both;margin:6px 0px;padding:0px;}
a {color:#6699cc;text-decoration:none;}
a:hover {text-decoration:underline;}

.header {margin:0px auto;padding:28px 0px 12px 0px;height:40px;width:904px;}
.email {float:left;border: none;margin:0px;padding:2px 10px 2px 10px;font-size:12px;width:120px;color:#999;border:1px solid #474840;border-radius:10px 0px 0px 10px;-webkit-border-radius:10px 0px 0px 10px;-moz-border-radius:10px 0px 0px 10px;}
.pass {float:left;border: none;margin:0px;padding:2px 10px 2px 6px;font-size:12px;width:120px;color:#999;border:1px solid #474840;}
.submit {float:left;margin:0px;padding:0px;border:1px solid #474840;}
.logo {display:block;float:left;margin:0px;padding:3px 0px 4px 4px;height:33px;width:177px;}
.signin {float:right;margin:16px 0px 0px 0px;padding:0px 0px 0px 176px;height:24px;width:350px;background:url(/images/alreadyhave.png) no-repeat left;}

.body {clear:both;margin:0px auto;width:100%;background-color:#dbddcf;text-align:center;}
.main {margin:0px auto;padding:0px;width:904px;background-image:url(/images/bg_grid.png)}
.top {margin:0px;padding:0px 0px 40px 0px;background:url(/images/free30daytrial.png) no-repeat;}
.nav {float:right;display:block;margin:0px;padding:12px;width:420px;height:30px;list-style:none;}
.nav li {display:block;float:left;margin:0px;padding:4px 30px 4px 0px;font-size:15px;}
.nav li.minilogo {padding:4px 8px 4px 0px;}
.nav li a {text-decoration:none;color:#474840;}
.nav li a:hover {text-decoration:underline;}
.title {clear:both;display:block;margin:0px auto;padding:0px;width:700px;height:36px;}
.left {float:left;margin:0px;padding:10px 0px 12px 20px;width:345px;}
.intro {margin:0px;padding:0px 0px 20px 30px;width:305px;text-align:left;font-size:15px;line-height:19px;color:#474840;}
.mascot {margin:0px;padding:0px;width:345px;}
.cta {display:block;margin:0px;padding: 0px 0px 0px 100px;}
.note {margin:0px;padding:40px 0px 0px 100px;color:#86877f;font-size:11px;}
.flashdemo {float:left;margin:0px 12px 12px 20px;padding:0px;height:360px;width:500px;}
.thankyou {margin:20px;padding:0px 0px 20px 30px;width:640px;text-align:left;font-size:18px;line-height:24px;color:#474840;}
.emailsubmit {font-size:18px;font-weight:bold;}

.footer {clear:both;margin:10px auto;width:904px;color:#b6b8aa;}
.footerLeft {float:left;margin:0px auto;padding:0px;text-align:right;width:140px;height:14px;font-weight:normal;}
.footerCenter {float:left;margin:0px auto;padding:0px 0px 0px 220px;text-align:right;width:200px;height:14px;font-weight:normal;}
.footerRight {float:right;margin:0px auto;padding:0px;text-align:right;width:140px;height:14px;font-weight:normal;}
.footer a {color:#b6b8aa;text-decoration:underline;}
.footer a:hover {text-decoration:none;}

