<div class="body">
	<div class="main">


<h2>    Thank you for your interest in Branchpage!</h2>

<div class='thankyou'>
<p>    We are currently in a closed beta. If you are interested in participating, enter your email below. If chosen, you will receive three months of FREE services to Branchpage.com.</p>
<p>&nbsp;</p>
<p>    We will contact you when we expand to the next set of testers.</p>


<%= render 'form' %>
</div>
<%= link_to 'Back', root_path %>
</div>
</div>