<div class="body">
	<div class="main">


<h2>    Thank you for your interest!</h2>
<p>&nbsp;</p>
<div class='thankyou'>
<p>We'll get back to you shortly.</p>
</div>
</div>
</div>

<%= link_to 'Back', root_path %>
