<% 
%>

    <h2>Manage custom views of your online portfolio... <strong>all in one place</strong>.</h2>
    	<div class="features">
        	<p>Quick setup, Import data from LinkedIn.</p>
			<p>Upload audio, video, images, code and <a href="#">other file types</a>.</p>
			<p>Gorgeous presentation templates.</p>
        </div>
        <a class="cta" href="#">Watch the DEMO!</a>
    	<div class="offer1">
        	<h3>Basic Folio - FREE!</h3>
            <ul>
				<li>1 Custom View, change anytime.</li>
				<li>Manage viewer comments.</li>
                <li>100 MB storage.</li>
            </ul>
            <%= link_to "Sign up for Basic", new_user_path, :class => 'offer1cta' %>
         </div>
         <div class="offer2">
        	<h3>Premium Folio - $<%=@price%> / Month</h3>
            <ul>
				<li>10 Custom Views, change anytime.</li>
				<li>Manage viewer comments.</li>
				<li>Custom template editor.</li>
				<li>LinkedIn recommendations for individual works.</li>
                <li>View visitor metrics.</li>
                <li>2.0 GB storage.</li>
            </ul>
    		<%= link_to "Sign up for Premium", new_user_path(:premium_user => 1, :price => @price), :class=>"offer2cta" %>
         </div>
