<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>branchpage</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="header">
       <div class="signin">
       <form>
        	<input class="email" type="text" value="Email" />
        	<input class="pass" type="text" value="Password" />
        	<input class="submit" name="commit" type="image" src="/images/signin.png" />
       </form>
       </div>
  	<a class="logo" href="#"><img src="/images/logo.png" height="33" width="177" /></a>
  </div>

<%= yield %>

<div class="footer">
	<div class="footerRight">&copy; 2010 branchpage.com</div>
	<div class="footerLeft"><a href="#">About Us</a> | <a href="#">Privacy Policy</a></div>
	<div class="footerCenter"><a href="#">Follow us on Facebook</a> | <a href="#">Twitter</a></div>
</div>
</body>
</html>
